.popup__container {
    min-width: 430px;
    min-height: 322px;
    position: relative;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

@media screen and (max-width: 880px) {
    .popup__container {
        min-width: 0;
        width: 88%;
        min-height: 332px;
    }
}