@import url("../../vendor/normalize.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__profile-link/header__profile-link.css");
@import url("../blocks/navbar/navbar.css");
@import url("../blocks/navbar/__element/navbar__element.css");

@import url("../blocks/sub-bar/sub-bar.css");


body {
    background-color: #f6f5f3;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
  
.handler {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}

.event-name {
    margin-top: 30px;
    margin-left: 60px;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
 }