.popup__error {
    margin: 0;
    display: block;

    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: calc(430px * 0.8);
    
    color: red;
    
    visibility: hidden;
}

@media screen and (max-width: 880px) {
    .popup__error {
        max-width: none;
    }
}


