<header class="header">
    <nav>
        <ul class="navbar">
            <li>
                <a href="/" class="navbar__element">Главная</a>
            </li>
            <li>
                <a href="/create-event" class="navbar__element">Создать соревнование</a>
            </li>
            <li>
                <a href="https://hsse.mipt.ru/", target="_blank" class="navbar__element">О нас</a>
            </li>
        </ul>
    </nav>
    <a href="/profile" class="header__profile-link">
        Профиль
    </a>
</header>