.popup__form-submit_disabled {
    background-color: white;
    border: solid 1px black;
    color: black;
    opacity: .2;
    cursor: default;
}

.popup__form-submit_disabled:hover {
    opacity: 0.2;
}