.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    
    background-size: cover;
    background-image: url("../../../images/Close-icon.svg");
    background-position: center center;
}

@media screen and (max-width: 880px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    } 
}