<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/event_handler/event.css' %}">
    <title>{{ event.name }}</title>
</head>

<body>
<div class="page">
    {% include "layouts/header.html" %}
    {% include "layouts/navigation_bar.html" %}

    <h1 class="page__title">{{ event.name }}</h1>
    <main class="main">
        <div class="all-stage-list">
            <h2 class="all-stage-list__title">Все этапы</h2>
            <ul class="all-stage-list__links">
                {% for stage in all_stages %}
                    <a href="/stage_registration/{{ stage.id }}"
                       class="all-stage-list__link all-stage-list__link_{% if stage.status == waiting_status %}waiting{% elif stage.status == active_status %}active{% else %}end{% endif %}">
                        <li class="all-stage-list__stage-name">{{ stage.name }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="open-stage-list">
            <h2 class="open-stage-list__title">Открытые этапы</h2>
            <ul class="open-stage-list__stage-cards">
                {% for stage, is_participate in open_stages %}
                    <a href="/stage_registration/{{ stage.id }}"
                       class="open-stage-list__link{% if is_participate %} open-stage-list__link_disabled{% endif %}">
                        <li class="open-stage-list__stage-card">
                            <h3 class="open-stage-list__title">{{ stage.name }}</h3>
                            <p class="open-stage-list__preview">{{ stage.preview }}</p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </main>
</div>

</body>
</html>