<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/event_handler/stage_registration.css' %}">
    <title>{{ stage.name }}</title>
</head>

<body>
<div class="page">
    {% include "layouts/header.html" %}
    {% include "layouts/navigation_bar.html" %}
    <section class="stage">
        <h1 class="stage__name">{{ stage.name }}</h1>
        <div class="stage__field">
            <label class="stage__label">Описание:</label>
            <p class="stage__textarea">
                {% if stage.description %}{{ stage.description }}{% else %}<i>Пусто</i>{% endif %}</p>
        </div>
        <div class="stage__field">
            <label class="stage__label">Контакты:</label>
            <p class="stage__textarea">{% if stage.contacts %}{{ stage.contacts }}{% else %}<i>Пусто</i>{% endif %}</p>
        </div>
        <div class="stage__field">
            <label class="stage__label stage__label_time">Сроки проведения:</label>
            <p class="stage__time">{% if stage.time_start %}{{ stage.time_start }}{% else %}Неизвестно{% endif %} -
                {% if stage.time_end %}{{ stage.time_end }}{% else %}Неизвестно{% endif %}</p>
        </div>
        <div class="stage__venue-list">
            <table class="table">
                <thead class="table__head">
                <tr class="table__row">
                    <th class="table__title">Название</th>
                    <th class="table__title">Адрес</th>
                    <th class="table__title">Регион</th>
                    <th class="table__title">Вместимость</th>
                    <th class="table__title">Контакты</th>
                    <th class="table__title">Действие</th>
                </tr>
                </thead>
                <tbody class="table__body">
                {% for venue in venues_list %}
                    <tr class="table__row">
                        <th class="table__title">{{ venue.name }}</th>
                        <td class="table__data">{{ venue.address }}</td>
                        <td class="table__data">{% if venue.region %}{{ venue.region }}{% else %}{% endif %}</td>
                        <td class="table__data">{% if venue.participants_maximum %}
                            {{ venue.participants_maximum }}{% else %}{% endif %}</td>
                        <td class="table__data">{% if venue.contacts %}{{ venue.contacts }}{% else %}{% endif %}</td>
                        <td class="table__data">
                            {% if can_register %}
                                <form method="POST">
                                    <input type="hidden" class="form-control" name="venue_id" value="{{ venue.id }}">
                                    <button type="submit" class="table__button">Зарегистрироваться</button>
                                    {% csrf_token %}
                                </form>
                            {% else %}
                                Недоступно
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>